### Let's see what this looks like

In [1]:
import pandas as pd
import numpy as np
import pickle
import os
import datetime
import matplotlib.pyplot as plt

In [4]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

#### I'll be testing functions on this abbreviated chunk of one file

In [2]:
test_df = pd.read_csv('data/2017-fordgobike-tripdata.csv').head(3000)

In [32]:
test_df.info() ##ELABORATE LATER, THURSDAY AFT?FRIDAY

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
duration_sec               1000 non-null int64
start_time                 1000 non-null object
end_time                   1000 non-null object
start_station_id           1000 non-null int64
start_station_name         1000 non-null object
start_station_latitude     1000 non-null float64
start_station_longitude    1000 non-null float64
end_station_id             1000 non-null int64
end_station_name           1000 non-null object
end_station_latitude       1000 non-null float64
end_station_longitude      1000 non-null float64
bike_id                    1000 non-null int64
user_type                  1000 non-null object
dtypes: float64(4), int64(4), object(5)
memory usage: 101.7+ KB

In [5]:
folder = 'pickle/'
files = sorted([folder+file for file in os.listdir(folder) if not file.startswith('.')])

### THERE IS JUST OVER 1GB OF DATA ACROSS 27 CSV'S AND WE WON'T BE ABLE TO CONCAT THIS ALL INTO 1 DATAFRAME
#### I'LL WRITE FUNCTIONS THAT WILL BE CALLED ON INDIVIDUAL DFs
#### >FIRST WE'LL WANT TO CHECK TO SEE IF OUR THE MOST IMPORTANT COLUMNS HAVE NULL VALUES TO BE CLEANED

In [19]:
from src.pickle_load import BikeData
from src.data_funcs import *

In [10]:
bike_data = BikeData(files)

In [11]:
bike_data.do_on_all(check_problem_columns) #Should process and not show anything if there are no nulls

##### everything seems to be in working order -- GREAT

In [14]:
bike_data.do_on_all(rentals_per_month)

201801  :  94802
201802  :  106718
201803  :  111382
201804  :  131169
201805  :  179125
201806  :  195968
201807  :  199222
201808  :  192162
201809  :  186217
201810  :  201458
201811  :  134135
201812  :  131363
201901  :  192082
201902  :  183412
201903  :  256299
201904  :  239111
201905  :  182163
201906  :  191772
201907  :  258102
201908  :  210563
201909  :  217986
201910  :  239895
201911  :  185496
201912  :  150102
202001  :  295854
202002  :  432354

#### looks like they're growing and had a HUGE february. Let's graph this l8r

In [16]:
bike_data.do_on_all(weekend_averages)

201801
Total Weekend Trips: 15705 | expected:  24465
Total Weekday Trips: 79097 | expected:  70336
Most popular day was on: 1 | Least popular day was on: 0
201802
Total Weekend Trips: 17600 | expected:  30490
Total Weekday Trips: 89118 | expected:  76227
Most popular day was on: 3 | Least popular day was on: 6
201803
Total Weekend Trips: 19478 | expected:  32336
Total Weekday Trips: 91904 | expected:  79045
Most popular day was on: 3 | Least popular day was on: 5
201804
Total Weekend Trips: 24819 | expected:  39350
Total Weekday Trips: 106350 | expected:  91818
Most popular day was on: 2 | Least popular day was on: 4
201805
Total Weekend Trips: 28679 | expected:  46225
Total Weekday Trips: 150446 | expected:  132899
Most popular day was on: 3 | Least popular day was on: 6
201806
Total Weekend Trips: 37835 | expected:  58790
Total Weekday Trips: 158133 | expected:  137177
Most popular day was on: 1 | Least popular day was on: 6
201807
Total Weekend Trips: 37027 | expected:  57838
Total Weekday Trips: 162195 | expected:  141383
Most popular day was on: 2 | Least popular day was on: 6
201808
Total Weekend Trips: 30058 | expected:  49590
Total Weekday Trips: 162104 | expected:  142571
Most popular day was on: 3 | Least popular day was on: 6
201809
Total Weekend Trips: 39527 | expected:  62072
Total Weekday Trips: 146690 | expected:  124144
Most popular day was on: 3 | Least popular day was on: 0
201810
Total Weekend Trips: 31159 | expected:  51989
Total Weekday Trips: 170299 | expected:  149468
Most popular day was on: 2 | Least popular day was on: 6
201811
Total Weekend Trips: 20950 | expected:  35769
Total Weekday Trips: 113185 | expected:  98365
Most popular day was on: 1 | Least popular day was on: 4
201812
Total Weekend Trips: 26091 | expected:  42375
Total Weekday Trips: 105272 | expected:  88987
Most popular day was on: 1 | Least popular day was on: 0
201901
Total Weekend Trips: 29079 | expected:  49569
Total Weekday Trips: 163003 | expected:  142512
Most popular day was on: 1 | Least popular day was on: 6
201902
Total Weekend Trips: 30928 | expected:  52403
Total Weekday Trips: 152484 | expected:  131008
Most popular day was on: 3 | Least popular day was on: 5
201903
Total Weekend Trips: 55625 | expected:  82677
Total Weekday Trips: 200674 | expected:  173621
Most popular day was on: 1 | Least popular day was on: 5
201904
Total Weekend Trips: 41427 | expected:  63762
Total Weekday Trips: 197684 | expected:  175348
Most popular day was on: 2 | Least popular day was on: 6
201905
Total Weekend Trips: 26334 | expected:  47009
Total Weekday Trips: 155829 | expected:  135153
Most popular day was on: 2 | Least popular day was on: 5
201906
Total Weekend Trips: 39841 | expected:  63924
Total Weekday Trips: 151931 | expected:  127848
Most popular day was on: 1 | Least popular day was on: 6
201907
Total Weekend Trips: 47594 | expected:  66606
Total Weekday Trips: 210508 | expected:  191495
Most popular day was on: 2 | Least popular day was on: 3
201908
Total Weekend Trips: 37910 | expected:  61131
Total Weekday Trips: 172653 | expected:  149431
Most popular day was on: 2 | Least popular day was on: 5
201909
Total Weekend Trips: 40421 | expected:  65395
Total Weekday Trips: 177565 | expected:  152590
Most popular day was on: 2 | Least popular day was on: 6
201910
Total Weekend Trips: 37352 | expected:  61908
Total Weekday Trips: 202543 | expected:  177986
Most popular day was on: 3 | Least popular day was on: 6
201911
Total Weekend Trips: 34896 | expected:  55648
Total Weekday Trips: 150600 | expected:  129847
Most popular day was on: 1 | Least popular day was on: 5
201912
Total Weekend Trips: 25267 | expected:  43578
Total Weekday Trips: 124835 | expected:  106524
Most popular day was on: 3 | Least popular day was on: 6
202001
Total Weekend Trips: 53918 | expected:  76349
Total Weekday Trips: 241936 | expected:  219504
Most popular day was on: 3 | Least popular day was on: 2
202002
Total Weekend Trips: 108268 | expected:  134178
Total Weekday Trips: 324086 | expected:  298175
Most popular day was on: 5 | Least popular day was on: 6

#### Surprised to see that without fail, weekend trips are proportionally less than weekdays!
## will come back to this later

In [17]:
test_df.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type
0,80110,2017-12-31 16:57:39.6540,2018-01-01 15:12:50.2450,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer
1,78800,2017-12-31 15:56:34.8420,2018-01-01 13:49:55.6170,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer
2,45768,2017-12-31 22:45:48.4110,2018-01-01 11:28:36.8830,245,Downtown Berkeley BART,37.870348,-122.267764,245,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer
3,62172,2017-12-31 17:31:10.6360,2018-01-01 10:47:23.5310,60,8th St at Ringold St,37.774520,-122.409449,5,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer
4,43603,2017-12-31 14:23:14.0010,2018-01-01 02:29:57.5710,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber

In [32]:
distance_calculations(test_df, 'test_df') #currently_shows_points

Average Trip: 0.91 miles
#of Short Trips: 225

##

In [ ]:
bike_data.do_on_all(distance_calculations)

201801
Average Trip: 1.01 miles
# of Short Trips: 2226
201802
Average Trip: 1.00 miles
# of Short Trips: 2656
201803
Average Trip: 0.98 miles
# of Short Trips: 2969
201804
Average Trip: 0.98 miles
# of Short Trips: 4276
201805
Average Trip: 0.98 miles
# of Short Trips: 5953
201806
Average Trip: 0.98 miles
# of Short Trips: 7662